<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgEmBfp3wdfvo4cD85dyR2S75-s_k43T0</string>
	<key>GCM_SENDER_ID</key>
	<string>332816369758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randomChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-8b5cd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-8b5cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332816369758:ios:cad6aa3bce86c527f7cccf</string>
</dict>
</plist>